/* --- Balises HTML --- */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    font-family: "Open Sans";
    color: black;
    background: #ededed;
    font-size: 11pt;
}

a {
    font-size: 10pt;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    font-family: "Helvetica";
    font-weight: bold;
    color: #202020;
}

h1 {
    font-size: 20pt
}

;
h2 {
    font-size:
}

img {}

/* --- CLASSES UTILES --- */

.puce {
    display: block;
    width: 2px;
    height: 2px;
    background-color: #202020;
}

.text-vert {
    color: #28b203;
}

article > h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

.subtitle {
    display: inline;
    color: grey;
    font-style: italic;
    padding: 0;
    margin: 0;
}

.bg-gris {
    background: lightgrey;
}


.bord_tb {
    /* separe le bloc par deux bordures et ajoute des marges */
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.container {
    position: relative;
    width: 80%;
    margin: auto;

}

/* ------ Block .page-header ------ */

.page-header-large {
    /* page accueil */
    width: 100%;
    position: relative;
    background: linear-gradient(90deg, rgba(32, 32, 32, 0.7) 30%, rgba(32, 32, 32, 0.7) 80%), url(../images/bg-accueil.jpg)no-repeat, rgba(32, 32, 32, 0.9);
    background-size: cover;
    height: 500px;
    padding-top: 20px;
}

.page-header-small {
    /* ... */
    width: 100%;
    position: relative;
    background: linear-gradient(90deg, rgba(32, 32, 32, 0.9) 30%, rgba(32, 32, 32, 1) 80%), url(../images/bg-header.png)no-repeat, rgba(32, 32, 32, 1);
    background-size: contain;
    /* image = 323x661 */
    height: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-header-medium {
    /* page actus */
    width: 100%;
    position: relative;
    background: linear-gradient(90deg, rgba(32, 32, 32, 0.7) 30%, rgba(32, 32, 32, 0.7) 80%), url(../images/bg-actus.png)no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
    /* image = 323x661 */
    height: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-header__logo {
    position: absolute;
    display: inline-block;
    height: 100px;
}

.page-header__nav {
    float: right;
}

.page-header__title {
    position: absolute;
    left: 30%;
    top: 150px;

    font-weight: 400;
    color: #28b203;
    text-transform: uppercase;
    text-align: center;
}

.page-header__subtitle {
    position: absolute;
    top: 190px;
    left: 40%;

    font-size: 18pt;
    color: #C0a477;
    font-style: italic;
    font-weight: 400;
}

/* ------ Blocks .menu ------ */

.menu__item {
    list-style: none;
    float: left;
    margin: 10px;
}

.menu__link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}


/*----------   .block-text    .accroche    

index.html



------  */

.block-text {
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;

    width: 100%;
    columns: 2;
    column-rule: 1px solid #202020;
    column-gap: 50px;
}

.block-text__col {
    text-align: center;
    padding: 30px;
}

.accroche {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.accroche__text {
    font-size: 20pt;
    line-height: 30pt;
}

/* ------ .block-list-horizontal ------ */

.block-list-horizontal {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;

}

/* ------ .card-presentation ------ */

.card-presentation {
    padding: 30px;
}

.card-presentation__title {
    margin-bottom: 30px;
}

.card-presentation__img {
    width: 200px;
    height: auto;
}

.card-presentation__text {
    text-align: center;
    padding: 5px;
}

/* ------------------------------------- Page projets  */

/* Menu de tri des projets */

#projets nav {
    height: 50px;
    width: 100%;
}

#projets nav > ul {
    display: flex;
    justify-content: space-around;
}

#projets nav > ul > li {
    list-style: none;
}

#projets nav > ul > li > button {
    border: none;
    padding-right: 0;
    padding-left: 0;
    color: #202020;
    background: none;
    text-transform: uppercase;
    cursor: pointer;

}

#projets nav > ul > li > button:focus {
    border-bottom: 1px solid black;
    outline: none;


}

/* -------  Liste de cartes - projets------ */

.liste-de-cartes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    width: 95%;
    /* modifiable */
    min-height: 800px;
    /* modifiable */
    margin: auto;
}

.carte {
    position: relative;
    flex: 0 0 content;
    /* 1 = etirable  */
    max-width: 40%;

}

.carte > .carte-img {
    max-width: 450px;
    height: auto;
    margin: 9px;
    border-radius: 3px;
}

.carte > .carte-description {

    position: absolute;
    display: none;
    left: 20px;
    bottom: 20px;
    width: auto;
    padding: 5px;
    transition: all .7s ease-out;
}

/* Au survol d'une carte */

.carte:hover > img.carte-img {
    filter: brightness(1);
    /* 0.4 foncé l'image */
    border: 2px solid white;
    opacity: 0.4;
    transition: all .7s ease;
    transition: border 20s ease;
}

.carte:hover > .carte-description {
    display: block;
    color: black;
    background: rgba(255, 255, 255, 0.8);

}

.carte-description > * {
    font-style: italic;
}

.carte-description > p strong:first-child {
    color: orange;
    font-style: normal;
    text-transform: uppercase;
}

/*z------------------------------------- page services */

section#services {
    margin-bottom: 200px
}

#services h3:before {
    content: "• ";
    top: 5px;
    width: 20px;
    font-size: 20pt;
}

.container-articles {
    display: flex;
    flex-flow: row wrap;
}

.article-grand {
    padding: 50px 50px 50px 50px;
}

.article-moyen {
    flex: 0 0 50%;
    padding: 50px;
}

.article-petit {
    flex: 0 0 25%;
    padding: 20px;
}



/* ---------------- -------------------------- */

/*z------------------------------------- page STUDIO */

.bloc-hauteur-fix {
    /* 400PX */
    height: auto;
    max-height: 400px;
}

.bloc-hauteur-fix > * {
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
}

section#studio {
    margin-bottom: 200px;
}

.col-2 {
    display: flex;
    flex-flow: column wrap;
}

.liseret-hb {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-top: 40px;
    padding-left: 80px;

}

#studio h3 {
    margin-bottom: 5px;
}

/* ------------------------------------ Page CONTACT --------------- */

#contact {
    margin-top: 50px;
    margin-bottom: 180px;
}

#contact .bloc1,
#contact .bloc2 {
    padding: 30px;
}

.bloc1 {
    display: inline-block;
    width: 33%;

}

#contact-bloc {
    margin-left: 34%;
    display: inline-block;
    width: 50%;
    padding: 30px;
}

#contact-bloc:after {
    /* liseret de separation qui sort du cadre */
    position: absolute;
    content: "";
    width: 66%;
    border-bottom: 1px solid black;

}

#contact-bloc .subtitle,
.contact-bloc h2 {
    color: #28b203;
}

.bloc2 {
    display: inline-block;
    width: 66%;

}

.contact-form {
    width: 100%;
    margin-bottom: 30px;

}

.contact-form label {
    border-bottom: 1px solid black;
}

.contact-form textarea {
    height: 150px;
}

.bloc-flex {
    display: flex;
    flex-flow: row wrap;
    ;
    justify-content: space-around;
}

.bloc-flex > div.col50 > label {
    width: 100%;
    margin-left: 1%;
    margin-bottom: 20px;

    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.bloc-flex > div.col50 > label > input {
    flex: 1 1 auto;
}

.bloc-flex > div.col50 {
    width: 48%;
}

label.full,
textarea.full {
    min-width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}

input,
textarea {
    margin-left: 5px;
    border: none;
    background: #f0f0f0;
    color: #202020;

}

textarea {
    border-bottom: 1px #202020 solid;
}

input[type=submit] {
    color: white;
    margin-left: 87%;
    padding: 5px 10px 5px 10px;
    background: #202020;

}

#btn {
    margin-top: 10px;
    border: 1px solid grey;
}

.bulle-message {
    font-size: 16pt;
    height: 140px;
    background: url(../images/bulle-message.png)no-repeat;
    background-size: contain;
    padding: 10px 0px 0px 70px;
    font-style: italic;
    color: #28b203;
    margin-bottom: 20px;
}

/* ------------------------------------------ page ACTUS ------------   */

#actus {
    margin-top: 100px;
    margin-bottom: 100px;
}

#actus > .container > figure {
    width: 66%;
    margin: 40px 0 40px 0;
    margin-left: 0;


}

#actus img {
    background: linear-gradient(90deg, rgba(32, 32, 32, 0.7) 30%, rgba(32, 32, 32, 0.7) 80%);
    width: 100%;
    height: auto;
    filter: brightness(0.8);
    box-shadow: 5px 5px 30px rgba(32, 32, 32, 0.1);
}

#actus img:hover {
    filter: brightness(1);
    box-shadow: 10px 10px 60px rgba(32, 32, 32, 0.4);
}


/*z--------------------------FOOTER -----------  */

footer {
    margin-top: 150px;
    padding-top: 50px;
    background: #202020;
    color: white;
}

footer .colonnes {
    display: grid;
    margin: auto;
    margin-bottom: 30px;

    grid-template-columns: 1fr 1fr 1fr;
}

footer .col {
    margin-left: 50px
}

footer img {
    display: block;
    height: 60px;
    margin-top: -20px;
    margin-bottom: 15px;
}

footer h4 {
    color: white;
    display: inline;
    padding-top: 5px;
    border-top: 1px solid white;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer a {
    color: white;
}

.copyright {
    font-size: 8pt;
    text-align: center;
    margin-bottom: 5px;
}

.copyright > a {
    font-size: 8pt;
}

.liste-reseaux-sociaux {
    position: absolute;
    bottom: 5px;
    right: 0;
    
}
.liste-reseaux-sociaux__link{
    padding-left:7px;
    color:#28b203;
    font-size:15pt;
}

/* MEDIA QUERIES */

@media all and (min-width: 1800px) {
    .container {
        width: 70%;
    }
    .page-header__logo {
        height: 250px;
    }
    .menu__item {
        margin: 10px;
    }
    .menu__link {
        font-size: 16pt
    }
    .page-header__title {
        top: 300px;
        line-height: 23pt;
        font-size: 26pt;
    }
    .page-header__subtitle {
        top: 360px;
        line-height: 23pt;
        font-size: 23pt;
    }
    .page-header-small {
        height: 500px;
    }
    .page-header-medium {
        height: 700px;
    }
    .page-header-large {
        height: 800px;
    }
}

@media all and (min-width: 1600px) and (max-width: 1799px) {
    .page-header__logo {
        height: 180px;
    }
    .menu__item {
        margin: 15px;
    }
    .menu__link {
        font-size: 14pt
    }
    .page-header__title {
        top: 300px;
        line-height: 23pt;
        font-size: 26pt;
    }
    .page-header__subtitle {
        top: 360px;
        line-height: 23pt;
        font-size: 23pt;
    }
    .page-header-medium {
        height: 500px;
    }
    .page-header-small {
        height: 300px;
    }
}

@media all and (max-width: 1599px) {
    /* Vos règles CSS pour les mobiles ici */
    .page-header__logo {
        height: 150px;
    }
    .menu__item {
        margin: 10px;
    }
    .menu__link {
        font-size: 10pt
    }
    .page-header__title {
        font-size: 16pt;
    }
    .page-header__subtitle {
        font-size: 13pt;
    }
    .page-header-medium {
        height: 370px;
    }
    .page-header-small {
        height: 300px;
    }
}

@media all and (max-width: 960px) {
    .container {
        width: 95%;
    }
    /* Vos règles CSS pour les mobiles ici */
    .page-header__logo {
        height: 130px;
    }
    .menu__item {
        margin: 5px;
    }
    .menu__link {
        font-size: 10pt
    }
    .page-header__title {
        font-size: 15pt;
    }
    .page-header__subtitle {
        font-size: 12pt;
    }
    .page-header-small {
        height: 300px;
    }
}
